body {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 1/2  */ 
#myBtn {
    height: 3em;
    width: 5em;
    text-align: center;
    cursor: pointer;
}


/* 1 */
/* .greetingText {
    height: 3em;
    width: 5em;
    background-color: red;
    text-align: center;
} */
